# Book Recommendation System using Clustering and Collaborative Filtering

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as mpl
import seaborn as sb

# Importing Books data

In [2]:
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')

C:\Users\Nayana\AppData\Local\Temp\ipykernel_21836\2638002418.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Nayana\AppData\Local\Temp\ipykernel_21836\2638002418.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [6]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [8]:
books.drop(columns=['Image-URL-S','Image-URL-L'],axis=1,inplace=True)
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-M'],
      dtype='object')

In [52]:
books.rename(columns={
    'Book-Title': 'Title',
    'Book-Author': 'Author',
    'Image-URL-M': 'Img_url',
    'Year-Of-Publication':'Year'
},inplace=True)
books.columns

TypeError: 'Series' object is not callable

# Importing User Data

In [10]:
users = pd.read_csv('BX-Users.csv',encoding='latin-1',sep=';',error_bad_lines=False)
users.head()

C:\Users\Nayana\AppData\Local\Temp\ipykernel_21836\1904335190.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('BX-Users.csv',encoding='latin-1',sep=';',error_bad_lines=False)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
users.tail()

        User-ID                            Location   Age
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

In [12]:
users.shape

(278858, 3)

In [13]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

# Importing User ratings

In [14]:
ratings = pd.read_csv('BX-Book-Ratings.csv',encoding='latin-1',sep=';', error_bad_lines=False)
ratings.head()

C:\Users\Nayana\AppData\Local\Temp\ipykernel_21836\2839229877.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('BX-Book-Ratings.csv',encoding='latin-1',sep=';', error_bad_lines=False)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
ratings.shape

(1149780, 3)

In [16]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 6)
(278858, 3)
(1149780, 3)

In [17]:
ratings['User-ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User-ID, Length: 105283, dtype: int64

In [18]:
ratings.rename(columns={
    'User-ID':'user_id',
    'Book-Rating': 'rating'}, 
    inplace=True)
ratings.columns

Index(['user_id', 'ISBN', 'rating'], dtype='object')

In [19]:
ratings['user_id'].nunique()

105283

In [20]:
X = ratings['user_id'].value_counts() > 200
X[X].shape

(899,)

In [21]:
Y = X[X].index
Y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [22]:
ratings = ratings[ratings['user_id'].isin(Y)]
ratings

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [23]:
users.rename(columns={'User-ID':'user_id'},inplace=True)

In [24]:
print(books.columns)
print(ratings.columns)
print(users.columns)

Index(['ISBN', 'Title', 'Author', 'Year', 'Publisher', 'Img_url'], dtype='object')
Index(['user_id', 'ISBN', 'rating'], dtype='object')
Index(['user_id', 'Location', 'Age'], dtype='object')

In [25]:
books_and_ratings = ratings.merge(books, on='ISBN')
books_and_ratings.head()

,user_id,ISBN,rating,Title,Author,Year,Publisher,Img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [26]:
books_and_ratings.shape

(487671, 8)

In [27]:
# Display number of ratings per book using group by function

num_ratings = books_and_ratings.groupby('Title')['rating'].count().reset_index()
num_ratings

                                                    Title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ã?Â?lpiraten.       1
160266                     Ã?Â?rger mit Produkt X. Roman.       1
160267                              Ã?Â?stlich der Berge.       1
160268                                  Ã?Â?thique en toc       1

[160269 rows x 2 columns]

In [28]:
num_ratings.rename(columns={'rating':'number_of_ratings'},inplace=True)
num_ratings.columns

Index(['Title', 'number_of_ratings'], dtype='object')

In [29]:
books_with_ratings = books_and_ratings.merge(num_ratings,on='Title')
books_with_ratings

,user_id,ISBN,rating,Title,Author,Year,Publisher,Img_url,number_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,http://images.amazon.com/images/P/1892145022.0...,1
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1

In [30]:
books_with_ratings = books_with_ratings[books_with_ratings['number_of_ratings'] >= 50]

In [31]:
books_with_ratings.sample(20)

,user_id,ISBN,rating,Title,Author,Year,Publisher,Img_url,number_of_ratings
82874,87746,068484477X,0,STONES FROM THE RIVER,Ursula Hegi,1997,Touchstone,http://images.amazon.com/images/P/068484477X.0...,137
57372,206534,067976402X,0,Snow Falling on Cedars,David Guterson,1995,Vintage Books USA,http://images.amazon.com/images/P/067976402X.0...,206
55816,37950,0451526341,9,Animal Farm,George Orwell,2004,Signet,http://images.amazon.com/images/P/0451526341.0...,70
15697,231237,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,182
8041,95316,0446350982,0,Presumed Innocent,Scott Turow,1988,Warner Books,http://images.amazon.com/images/P/0446350982.0...,149
93325,78783,0671042572,8,Jewel (Oprah's Book Club),Bret Lott,1999,Pocket,http://images.amazon.com/images/P/0671042572.0...,60
69334,269566,0070212570,0,Fried Green Tomatoes at the Whistle Stop Cafe,Fannie Flagg,1989,McGraw-Hill,http://images.amazon.com/images/P/0070212570.0...,131
134054,185233,039913039X,5,Skeleton Crew,Stephen King,1985,Putnam Pub Group,http://images.amazon.com/images/P/039913039X.0...,82
90896,259629,0440414806,0,Holes (Yearling Newbery),LOUIS SACHAR,2000,Yearling,http://images.amazon.com/images/P/0440414806.0...,55
89478,147451,0380813815,10,"Lamb : The Gospel According to Biff, Christ's ...",Christopher Moore,2003,Perennial,http://images.amazon.com/images/P/0380813815.0...,67
223432,76352,0553287397,0,Dark Angel,Sally Beauman,1991,Bantam Books,http://images.amazon.com/images/P/0553287397.0...,54
125253,223154,014023313X,8,The Stone Diaries,Carol Shields,1995,Penguin Books,http://images.amazon.com/images/P/014023313X.0...,84
82332,159033,059035342X,0,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,183
39842,106225,0451172817,0,Needful Things,Stephen King,2004,Signet Book,http://images.amazon.com/images/P/0451172817.0...,80
80126,43246,0151008116,0,Life of Pi,Yann Martel,2002,Harcourt,http://images.amazon.com/images/P/0151008116.0...,185
1295,275970,0670032379,0,The Secret Life of Bees,Sue Monk Kidd,2002,Viking Books,http://images.amazon.com/images/P/0670032379.0...,209
35032,236283,0440222842,0,Five Days in Paris,DANIELLE STEEL,1997,Dell,http://images.amazon.com/images/P/0440222842.0...,59
10262,125692,0553280341,0,B Is for Burglar (Kinsey Millhone Mysteries (P...,Sue Grafton,1986,Bantam,http://images.amazon.com/images/P/0553280341.0...,132
39316,203968,0451128389,0,Christine,Stephen King,1983,Penguin Putnam~mass,http://images.amazon.com/images/P/0451128389.0...,67
41626,11676,0515131229,0,Dance upon the Air (Three Sisters Island Trilogy),Nora Roberts,2003,Jove Books,http://images.amazon.com/images/P/0515131229.0...,100

In [32]:
books_with_ratings.shape

(61853, 9)

In [33]:
books_with_ratings.drop_duplicates(['Title','user_id'],inplace=True)
books_with_ratings.shape

C:\Users\Nayana\AppData\Local\Temp\ipykernel_21836\3540750177.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_with_ratings.drop_duplicates(['Title','user_id'],inplace=True)

(59850, 9)

In [34]:
books_with_ratings['Author'].unique()

array(['James Finn Garner', 'Barbara Kingsolver', 'Ann Patchett',
       'Janet Evanovich', 'Frances Hodgson Burnett', 'M.J. Carr',
       'Frances H. Burnett', 'Benjamin Hoff', 'Susan Vreeland',
       'Joanne Harris', 'Sue Monk Kidd', 'Alice Sebold',
       'Carolyn Parkhurst', 'Janet Fitch', 'James Patterson',
       'David Sedaris', 'Francine Pascal', 'J.R.R. TOLKIEN',
       'John Irving', 'RICHARD NORTH PATTERSON',
       'Richard North Patterson', 'Margaret Yorke', 'Carol Ellis',
       'Barbara Bretton', 'Jonathan Kellerman', 'JONATHAN KELLERMAN',
       'Jeffrey Eugenides', 'Patricia Daniels Cornwell',
       'Patricia Cornwell', 'Patricia D. Cornwell', 'John Grisham',
       'JOHN GRISHAM', 'MITCH ALBOM', 'Mitch Albom', 'Jon Krakauer',
       'Margaret Atwood', 'MARGARET ATWOOD', 'Dan Brown', 'DAN BROWN',
       'William Gerald Golding', 'William Golding', 'Dean R. Koontz',
       'Robin Cook', 'Greg Iles', 'DANIELLE STEEL', 'Dean Koontz',
       'Ed McBain', 'Tom Clancy', 'John Sandford', 'John Sanford',
       'J. K. Rowling', 'Danielle Steel', 'Chaim Potok', 'Luane Roche',
       'Donna Boyd', 'Robert Westall', 'Mandalyn Kaye', 'Hal Lindsey',
       'May McGoldrick', 'Dee Davis', 'CHAIM POTOK', 'Nuruddin Farah',
       'Brenda Joyce', 'Anna Aaron', 'Vera Cowie', 'Barbara Cartland',
       'Deborah Aydt', 'Chris Dyer', 'Sara Paretsky', 'Julie Garwood',
       'Sandra James', 'Mary McGarry Morris', 'Alton Gansky',
       'T. J. MacGregor', 'Harlan Coben', 'HARLAN COBEN', 'Scott Turow',
       'Michael Connelly', 'Sandra Brown', 'David Baldacci',
       'Ronda Thompson', 'Sue Grafton', 'Stephen King',
       'Catherine Coulter', 'Dick Francis', 'Mark Olshaker',
       'Nora Roberts', 'Pat Conroy', 'Wilson Rawls', 'IRIS JOHANSEN',
       'Ray Bradbury', 'Iris Johansen', 'Caleb Carr', 'DEAN KOONTZ',
       'JILL CONNER BROWNE', 'Arundhati Roy', 'James Neal Harvey',
       'Francois Mauriac', 'Michael Cunningham', 'Michele Roberts',
       'Thomas H. Cook', 'Patricia Springer', 'Peter Mayle',
       'John Berendt', 'JOHN BERENDT', 'J. Berendt', 'Frank McCourt',
       'Sidney Sheldon', 'Marc Levy', 'Catherine Ryan Hyde', 'Amy Tan',
       'ANNE TYLER', 'Anne Tyler', 'Rich Shapero',
       'Alexander McCall Smith', 'Anne Rice', 'Sue Miller', 'Miller Sue',
       'SUE MILLER', 'Carol Davis Luce', 'Elie Wiesel', 'John Saul',
       'Judith Marshall', 'Zachary Alan Fox', 'Raymond Briggs',
       'JANE SMILEY', 'James Herriot', 'TAMI HOAG', 'Tami Hoag',
       'Mary Monica Pulver', 'Lillian Stewart Carl', 'Wally Lamb',
       'Mary Higgins Clark', 'LURLENE MCDANIEL', 'Eoin Colfer',
       'ROBERT FULGHUM', 'Michael Crichton', 'Nancy Martin', 'Clancy Tom',
       'Dennis Lehane', 'Joan Johnston', 'Norma Fox Mazer', 'Peter Hoeg',
       'Nicholas Evans', 'James A. Michener', 'Frank Lauria',
       'Earl W. Emerson', 'Beverly H. Renner', 'Hannah Alexander',
       'Jodi Picoult', 'David Lindsey', 'David L. Lindsey', 'John Gray',
       'E. B. White', 'Jan Karon', 'Roald Dahl',
       'Antoine de Saint-ExupÃ©ry', 'Antoine De Saint-Exupery',
       'Rosamunde Pilcher', 'Alison Fraser', 'Shirlee Busbee',
       'ROSAMUNDE PILCHER', 'Jennifer Crusie', 'ANNE RICE',
       'BERTRICE SMALL', 'Toni Morrison', 'TONI MORRISON',
       'Bertrice Small', 'Stella Cameron', 'WILLIAM GOLDMAN',
       'Umberto Eco', 'MICHAEL CRICHTON', 'Lorenzo Carcaterra',
       'John Case', 'Tom Wolfe', 'Ernest J. Gaines', 'Kaye Gibbons',
       'Dave Eggers', 'Richard Adams', 'Richard George Adams',
       'Colleen McCullough', 'Robert C. Atkins', 'Robert C., Md. Atkins',
       'Neil Gaiman', 'Jane Hamilton', 'Julie Ellis',
       'Patricia Gallagher', 'Jan Stuart', 'Laura Esquivel',
       'JON KRAKAUER', 'DAI SIJIE', 'Norton Juster', 'John Russo',
       'Charles Grant', 'Alice Hoffman', 'Eric L. Harry', 'Dave Barry',
       'J.D. Robb', 'Patricia Kay', 'Thomas Harris', 'Loup Durand',
       "L'Engle Madelein", "Madeleine L'Engle", 'MAEVE BINCHY',
       'Maeve Binchy', 'Jeff Mariotte', 'Judy Blume', 'Kathryn Harrison',
       'Kathryn Reines', 'Harper Lee', 'Alexandra Ripley',
       'Nelson DeMille', 'W. E. B. Griffin', 'Richard S. Wheeler',
       'Robert James Waller', 'Nicholas Sparks', 'Anonymous',
       'Billie Letts', 'Diane Mott Davidson', 'Suzanne Brockmann',
       'Hal Friedman', 'Jay Johnstone', 'Betty Rowlands',
       'Robert Westbrook', 'Jacquelyn Mitchard', 'Richard Bachman',
       'Paul Reiser', 'PAUL REISER', 'Maya Angelou', 'MAYA ANGELOU',
       'Alan Rodgers', 'Edna Obrien', 'Garrison Keillor',
       'Olivia Goldsmith', 'Judith McNaught', 'Charles Veley',
       'Lynn Erickson', 'Terry McMillan', 'Alice Walker',
       'Ariel Jennifer Jones', 'V.C. Andrews', 'Ruthanne Lum McCunn',
       'Audrey Osofsky', 'Dinah McCall', 'Jen McVeity', 'Meredy Maynard',
       'Tim Allen', 'Becky Barker', 'Fabio', 'Amanda Quick', 'Debra Dier',
       'Millie Criswell', 'Anita Mills', 'Jack London', 'Paulo Coelho',
       'Helen Fielding', 'J.D. Salinger', 'J. D. Salinger',
       'Jerome David Salinger', 'MARION ZIMMER BRADLEY',
       'Marion Zimmer Bradley', 'Andre Dubus III', 'PHILIP PULLMAN',
       'Philip Pullman', 'LAURA ESQUIVEL', 'William Gibson',
       'George Orwell', 'Tracy Chevalier', 'Emilie Richards',
       'Jean M. Auel', 'JEAN M. AUEL', 'J. R. R. Tolkien',
       'J.R.R. Tolkien', 'A.S. BYATT', 'David Guterson',
       'David Gutterson', 'David G. Uterson', 'Annie Proulx',
       'Katherine Neville', 'KATHERINE NEVILLE', 'Tess Gerritsen',
       'TESS GERRITSEN', 'Talmadge-Bickmore Deborah', 'Terry Coleman',
       'Madeena S. Nolan', "Constance O'Day-Flannery", 'Scott Edelman',
       'Kirk Douglas', "Patrick O'Leary", 'Jefferson Carter',
       'R. Kent Hughes', 'John Steinbeck', 'Fay Nedra Zachary',
       'M.J. Rodgers', 'Nancy Baker Jacobs', 'Robert Ludlum',
       'ROBERT LUDLUM', 'Kay Hooper', 'Douglas Adams',
       'Barbara Ehrenreich', 'Michael Moore', 'Gilda Radner',
       'Taichi Yamada', 'LOIS LOWRY', 'Lois Lowry', 'JUDY BLUME',
       "MADELEINE L'ENGLE", 'LAURA HILLENBRAND', 'SUE GRAFTON',
       'Michael J. Fox', 'Billy Graham', 'Marian Keyes', 'Denis Johnson',
       'June Easton', 'James McBride', 'Geraldine Brooks',
       'Walter Simonson', 'Golden Books', 'CHRISTINA SCHWARZ',
       'Christina Schwarz', 'Edwidge Danticat', 'MARY HIGGINS CLARK',
       'David J. Pelzer', 'Meggin Cabot', 'Josie Lloyd', 'Chris Loken',
       'Rebecca Wells', 'Gregory Maguire', 'Louise Rennison',
       'Fannie Flagg', 'Melissa Bank', 'Emma McLaughlin', 'Whitney Otto',
       'Adriana Trigiani', 'KENT HARUF', 'Chris Bohjalian',
       'Richard Russo', 'RICHARD RUSSO', 'SOPHIE KINSELLA',
       'Sophie Kinsella', 'STEPHEN KING', 'Patricia Potter',
       'Charlotte Lamb', 'ROBERT PIRSIG', 'Robert M. Pirsig',
       'Jude Deveraux', 'Sherryl Woods', 'Catherine Hart',
       'Cynthia Blair', 'JONATHAN HARR', 'Jonathan Harr',
       'Jennifer Weiner', 'Jane Green', 'Richard Carlson', 'Tim LaHaye',
       'Tim F. Lahaye', 'Arlene Eisenberg', 'Mary Alice Monroe',
       'R. L. Stine', 'Jack Canfield', 'RAY BRADBURY', 'Bradbury',
       'Aldous Huxley', 'Yann Martel', 'Breena Clarke', 'JOHN IRVING',
       'ANNA QUINDLEN', 'Belva Plain', 'Anna Quindlen', 'Lois Richer',
       'Bernhard Schlink', 'Carol Brown Janeway', 'A. Manette Ansay',
       'Greg Matthews', 'Alice McDermott', 'Alice Mcdermott',
       'Elizabeth Berg', 'Joyce Carol Oates', 'Barbara Gowdy',
       'TOM WOLFE', 'Bret Lott', 'Ursula Hegi', 'Melinda Haynes',
       'Leif Enger', 'Anita Diamant', 'Michael Chabon', 'SUSANNA KAYSEN',
       'Susanna Kaysen', 'Charles Frazier', 'CHARLES FRAZIER',
       'Nick Hornby', 'Eric Schlosser', 'Sebastian Junger',
       'Lemony Snicket', 'Emma Donoghue', 'Michel Faber',
       'Arthur Conan Doyle', 'Randall Jarrell', 'ARTHUR CONAN DOYLE',
       'Christopher Moore', 'Dorothy West', 'Yann Queffelec',
       'Richard Preston', 'LAUREN WEISBERGER', 'Bill Cosby',
       'Vicki Lewis Thompson', 'LOUIS SACHAR', 'Carl Hiaasen',
       'Suzanne Robinson', 'Cynthia Voigt', 'Matthew J. Costello',
       'N. Lofts', 'Janet Dailey', 'Candace Bushnell',
       'DIANE MOTT DAVIDSON', 'Lillian Sparks', 'Winston Groom',
       'CORMAC MCCARTHY', 'Michael Ondaatje', 'MICHAEL ONDAATJE',
       'Joyce Reardon', 'Ellen Rimbauer', 'Robert Fulghum',
       'Orson Scott Card', 'Cornwell Patricia', 'Kathy Reichs',
       'Gabriel Garcia Marquez', 'Gwyn Hyman Rubio', 'Gwynn Rubio',
       'Francis Roe', 'Julia Glass', 'JULIA GLASS', 'ANN BRASHARES',
       'DIANA GABALDON', 'Diana Gabaldon', 'Jane Rule', 'Thomas Keneally',
       'Ann B. Ross', 'Philippa Gregory', 'Patricia Gaffney',
       'Katherine Paterson', 'Anita Shreve', 'Pearl Cleage', 'PAT CONROY',
       'Beverly Lewis', 'Jenny Carroll', 'Joseph P. Desario',
       'Sharon K. Garner', 'Nicholas Luard', 'Joan Grant',
       'Frances Mayes', 'Helene Hanff', 'Martin Cruz Smith',
       'Zadie Smith', 'Laurie Notaro', 'IAN MCEWAN', 'Phyllis White',
       'P. D. James', 'P.D. James', 'James Redfield', 'Georgia Bockoven',
       'Jane Smiley', 'Dorothy Allison', 'Elena Castedo',
       'Chaz Brenchley', 'Madeline Baker', 'Bill Bryson',
       'Ann-Marie MacDonald', 'DONNA TARTT', 'Donna Tartt',
       'Rohinton Mistry', 'Sarah Waters', 'JULIE GARWOOD',
       'Elizabeth Forrest', 'CHUCK PALAHNIUK', 'Chuck Palahniuk',
       'Stuart Woods', 'LaVyrle Spencer', 'Lavyrle Spencer',
       'Iurii Karlovich Olesha', 'Jeffrey Konvitz', 'Bill Eidson',
       'Joan Wolf', "Tawni O'Dell", 'Susan Crandall', 'Barbara Delinsky',
       'Sharon Sala', 'Fay Weldon', 'Danice Allen', 'Dodie Smith',
       'Daphne Du Maurier', 'Daphne du Maurier', 'DaphnÃ?Â© Du Maurier',
       'Jane Austen', 'L.M. Montgomery', 'L.M. MONTGOMERY',
       'Lucy Maud Montgomery', 'Isabel Allende', 'Jeffery Deaver',
       'Irving', 'Dave Pelzer', 'Carol Shields', 'Sheri Reynolds',
       'Joe Coomer', 'Olive Ann Burns', 'Ian Montgomery',
       'Jennifer Crusi', 'Carly Phillips', 'Michael Blake',
       'Michael Weaver', 'Candace Camp', 'Barbara Harrison',
       'Jostein Gaarder', 'BELVA PLAIN', 'Lisa Jackson', 'Luanne Rice',
       'Stephen R. Covey', 'Author Unknown', 'Mary S. Craig',
       'Barry Hoffman', 'Olga Bicos', 'Leigh Nichols', 'Kurt Vonnegut',
       'Irving John', 'ANNE FRANK', 'Carl Sagan', 'Susan Grant',
       'J. D. Robb', 'Brad Meltzer', 'Anne Rivers Siddons', 'Ben Bova',
       'Jasper Fforde', 'MICHAEL POLLAN', 'Robert K. Massie',
       'PATRICIA MACLACHLAN', 'Myrna Grant', 'Douglas Preston',
       'Mickey Friedman', 'James Humphreys', 'Sound Editions',
       'DOROTHY GILMAN', 'Harry Turtledove', 'Richard Paul Evans',
       'Wendy Rosnau', 'Lynsay Sands', 'Elmore Leonard', 'Nelson Demille',
       'Ken Follett', 'EMILY BRONTE', 'Emily Bronte', 'Elizabeth George',
       'Wilbur Smith', 'Wilbur A. Smith', 'H. C. Anderson',
       'Lilian Moore', 'LISA GARDNER', 'KAREN ROBARDS', 'Linda Howard',
       'Karen Robards', 'Robert Ferrigno', 'Celia Brayfield',
       'F. Scott Fitzgerald', 'Tim Lahaye', 'Erica Spindler',
       'Leo Atkins', 'Nevada Barr', 'Janis Flores', 'Leslie Li',
       'Susan Strasberg', 'Mary Summer Rain', 'Laurell K. Hamilton',
       'Michael Stewart', 'Joseph Amiel', 'Sally Beauman', 'Lynne Graham',
       'Anna Grant', 'Donna Ball', 'Jennifer Lauck', 'Kerry Tucker'],
      dtype=object)

We now create a Pivot Table which will generate a matrix.

In [35]:
book_pivot_table = books_with_ratings.pivot_table(columns='user_id',index='Title',values='rating')
book_pivot_table

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
book_pivot_table.shape

(742, 888)

In [37]:
book_pivot_table.fillna(0,inplace=True)

In [38]:
book_pivot_table

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
from scipy.sparse import csr_matrix

In [40]:
sparse_data = csr_matrix(book_pivot_table)
sparse_data

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14942 stored elements in Compressed Sparse Row format>

In [41]:
from sklearn.neighbors import NearestNeighbors

In [42]:
model = NearestNeighbors(algorithm='brute')

In [43]:
model.fit(sparse_data)

NearestNeighbors(algorithm='brute')

In [44]:
distance, suggestion = model.kneighbors(book_pivot_table.iloc[237,:].values.reshape(1,-1),n_neighbors=10)
distance

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616, 77.3369252 , 77.59510294, 77.60154638, 77.65307463]])

In [45]:
suggestion

array([[237, 240, 238, 241, 184, 536, 291, 675, 686, 689]], dtype=int64)

In [46]:
for i in range(len(suggestion)):
    print(book_pivot_table.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall', 'Jacob Have I Loved', 'The Witness',
       'Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))', 'Toxin'],
      dtype='object', name='Title')

In [47]:
names_of_books = book_pivot_table.index
names_of_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Title', length=742)

In [48]:
import pickle
pickle.dump(model, open('artifacts/model.pkl','wb'))
pickle.dump(names_of_books, open('artifacts/names_of_books.pkl','wb'))
pickle.dump(books_with_ratings, open('artifacts/books_with_ratings.pkl','wb'))
pickle.dump(book_pivot_table, open('artifacts/book_pivot_table.pkl','wb'))

Pickle files are used to create byte streams. pickle.dump() function is used to serialize a Python object and write it to a file.

We create a function to recommend books which takes book name as parameter

In [49]:
def recommend_books(book_name):
    book_id = np.where(book_pivot_table.index == book_name)[0][0]
    #this will only return the numerical index of the book.
    distance, suggestion = model.kneighbors(book_pivot_table.iloc[book_id,:].values.reshape(1,-1),n_neighbors=10)
    for i in range(len(suggestion)):
        books = book_pivot_table.index[suggestion[i]]
        for j in books:
            print(j)

In [50]:
book = 'Wuthering Heights'
recommend_books(book)

Wuthering Heights
Pleading Guilty
No Safe Place
A Civil Action
Primary Colors: A Novel of Politics
Long After Midnight
Hearts in Atlantis
Exclusive
Journey
Lake Wobegon days